<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Tweets Display</title>

    <!-- Css -->
 <style type="text/css">
ul,li {   
	margin-right: auto;
	margin-left: 10px;
	padding: 0;
	list-style: none;
}     
li.add{
     display:none;
}
 </style>
<script language="javascript" type="text/javascript">
// Check the main container is ready
$('.row').ready(function(){
    $('ul').each(function(){
        // Get the content0
        var str = $(this).html();
        // Set the regex string
        var regex = /(https?:\/\/([-\w\.]+)+(:\d+)?(\/([\w\/_\.]*(\?\S+)?)?)?)/ig
        // Replace plain text links by hyperlinks
        var replaced_text = str.replace(regex, "<a href='$1' target='_blank'>$1</a>");
        // Echo link
        $(this).html(replaced_text);
    });
});
</script> 
  </head>
  <body>       
    <!-- jQuery  -->
    <script src="jquery-1.11.2.min.js"></script>
    <script type="text/javascript">
	$(function() {
		var $news = $('.row ul'),
		scrollHeight = $news.find('li').outerHeight(true),
		scrollSpeed = 1000, fadeInSpeed = 1000,
		timer, speed = 2000;
		count=1	
		  function newsScroll(){
			$news.animate({
				top: scrollHeight + 'px'
				}, scrollSpeed, function(){
				var $last = $news.find('li:last');
				
				$last.clone().hide().prependTo($news).fadeIn(fadeInSpeed, function(){
						if(count<10){
						timer = setTimeout(newsScroll, speed);
						count++;
						} 
				});
				$news.css('top', 0);
				$last.remove();				
			});							
		}
		timer = setTimeout(newsScroll, speed);		
	});
	</script>
  </body>
</html>