<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Tweets Display</title>

    <!-- Css -->
    <link href="tweets.css" rel="stylesheet">
  </head>
  <body>
  <input type ="button" value="Run" id="run"/>
  <input type ="button" value="Stop" id="stop" />
  <input type ="button" value="Reset" id="reset" />

        

    <!-- jQuery  -->
    <script src="jquery-1.11.2.min.js"></script>
    <script type="text/javascript">
	$(function() {
	    $('#stop').css('display','none');
	    $('#reset').css('display','none');
		var $news = $('.scroll ul'),
		scrollHeight = $news.find('li').outerHeight(true),
		scrollSpeed = 1000, fadeInSpeed = 1000,
		timer, speed = 1000;
		count=1
		stop=0;
	 //Click the run button to run or restart showing tweets	
      $('#run').click(function(){
          stop=0;
		  function newsScroll(){
			$news.animate({
				top: scrollHeight + 'px'
				}, scrollSpeed, function(){
				var $last = $news.find('li:last');
				
				$last.clone().hide().prependTo($news).fadeIn(fadeInSpeed, function(){
				       if(count==20){
						 $('#stop').css('display','none');
						  $('#reset').css('display','block');
						}
						if(count<20&&stop==0){
				        $(this).css('display','block');
						timer = setTimeout(newsScroll, speed);
						count++;
						}
					   
				});
				$news.css('top', 0);
				$last.remove();				
			});							
		}
		timer = setTimeout(newsScroll, speed);	
		});	
	//Click the stop button to stop showing tweets	
	 $('#stop').click(function(){
	 $('#run').css('display','block');
     $('#stop').css('display','none');
     $('.scroll ul').stop(true);
     stop=1;
    });
	});
	</script>
  </body>
</html>